<!-- wp:template-part {"slug":"header","theme":"start-stackable"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|xx-large","left":"var:preset|spacing|xx-large"},"margin":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--xx-large);margin-bottom:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--xx-large)"><!-- wp:post-content {"align":"full","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"start-stackable"} /-->